body {
 padding-top: 10px;
}

.app_input {
    width: calc(100% - 30px);
    display: inline-block;
}

.app_check {
    display: inline-block;
    visibility: hidden;
}

.app_check.visible {
    visibility: visible;
}

.app_check > i {
    font-size: 22px;
    padding: 6px 0;
}

.danger {
    padding-top: 15px;
    color: #d9534f;
}

.success {
    color: #5cb85c;
}
